* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-image:url(https://cutewallpaper.org/21/firewatch-wallpapers-4k/Firewatch-Wallpaper-Hd-1920x1080-Wallpaper-Firewatch-4k-8k-.jpg);
  background-attachment: fixed;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}
